.reveal {

  $smocky_black: rgba(16, 0, 7, 1);
  $raisin_black: #3f3838;
  $purple: rgba(43, 1, 30, 1);
  $green: rgba(59, 96, 71, 1);
  $gold: rgba(246, 204, 104, 1);
  $red: #b82525;


  .alt-color {
    color: $raisin_black;
  }

  section {
    img {
      border: none;
      background: none;
      box-shadow: none;
      margin: 0;

      &.shadow {
        -webkit-box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.50);
      }
    }
  }

  h1, h2, h3, h4, h5, & {
    font-family: missed_glyphs, papaya_sunriseregular, serif;
    color: $raisin_black;
    font-weight: 100;
  }

  h3 {
    line-height: 1.7em;
  }

  .accent { color: $red;}

  ul {
    padding-top: 50px;
    list-style: none;
    margin: 0;

    li:before {
      font-family: Comic Sans MS;
      vertical-align: top;
      content: "-";
      color: $red;
      position: relative;
      left: -25px;
    }

    li {
      padding-bottom: 20px;
    }
  }

  .highlighted {
    color: $red;
  }
}
